<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRq386pX1tK1kTen8vzUJ1akr0RDjs1Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>427339658016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wgyang.swipeSangGongHanjaAD</string>
	<key>PROJECT_ID</key>
	<string>swipe-sanggong-hanja-ad</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-sanggong-hanja-ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427339658016:ios:2c33ccda548ad23b8f1d45</string>
</dict>
</plist>